.Update-form-child {
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 50%;
  width: 40%;
  margin: 5% 30% 35% 30%;
  background-color: rgb(212, 242, 228);
  border-radius: 5px;
  /* z-index: 1; */
  /* transform: perspective(300px); */
  /* animation-delay: 100ms; */
  /* animation-duration: 2000ms; */
  /* animation-timing-function: calc(1000ms); */
}
.Update-form-child input {
  border-radius: 5px;
}
.Update-form-child button {
  border-radius: 5px;
}
.Update-form-child h1 {
  margin: 5% 25%;
}
